.topbarcontainer {
  width: 100%;
  height: 70px;
  background-color: #1877f2; 
  display: flex;
  align-items: center;
position: sticky;
  top: 0;
 
}
.topbarleft  {
 flex: 3;
}
.logo{
  font-size: 27px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarcenter {
  flex: 5;
 
}
.topbarright{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.searchbar {
  width: 100%;
  height: 36px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchbaricon {
  font-size: 20px;
 font-weight: bolder;
 margin-left: 20px;
}
.searchinput {
  border: none;
  width: 70%;
  
}
.searchinput:focus{
  outline: none;
}
.topbarlink {
 margin-right: 10px;
 font-size: 16px;
 cursor: pointer;
}
.topbaricons{
  display: flex;
}
.topbariconitem {
  position: relative;
  cursor: pointer;
 margin-right: 15px;
}
.topbariconbadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
 
}
.topbarimg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
 cursor: pointer;
}
